.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 5px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: #C70039;
    color: #333;
    -webkit-font-smoothing: antialiased;
}
.center {
    position: absolute;
    width: 220px;
    height: 220px;
    top: 93px;
    left: 93px;
}
.circle-1 {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 96px;
    top: 96px;
    border-radius: 50%;
    background: #fff;
    z-index: 3;
    animation: circle-1 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
}
.circle-2 {
    position: absolute;
    width: 60px;
    height: 60px;
    z-index: 2;
    left: 80px;
    top: 80px;
    border-radius: 50%;
    background: #fff;
    animation: circle-2 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
}
.circle-3 {
    position: absolute;
    width: 90px;
    height: 90px;
    z-index: 1;
    left: 64px;
    top: 64px;
    border-radius: 50%;
    background: #fff;
    animation: circle-3 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
}
@keyframes circle-1 {
    0%,
    70% {
        box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.2);
        transform: scale(0);
    }
    100% {
        box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
        transform: scale(1);
    }
}
@keyframes circle-2 {
    0%,
    40% {
        box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.2);
        transform: scale(0);
    }
    100% {
        box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
        transform: scale(1);
    }
}
@keyframes circle-3 {
    0%,
    10% {
        box-shadow:10px 10px 15px 0 rgba(0, 0, 0, 0.2);
        transform: scale(0);
    }
    100% {
        box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
        transform: scale(1);
    }
}